<a href="https://colab.research.google.com/github/cauagomes49/Aula/blob/master/Aula_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Funções

In [ ]:
fam= [1.73, 1.68, 1.71, 1.89]
print(fam)
max(fam)

[1.73, 1.68, 1.71, 1.89]

1.89

In [ ]:
print(round(1.68, 1))
round(1.68)

1.7

2

In [ ]:
# create variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True
#print out type of var1
print(type(var1))
#print out length of var1
print(len(var1))
#convert var2 to an integer: out2
out2= int(var2)
print(out2)

<class 'list'>
4
1

In [ ]:
help(round) #open up documentation

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
 # create list first and second
 first = [11.25, 18.0, 20.0]
 second = [10.75, 9.50]
 # paste together fisrt and second: full
 full = first + second
 print(full)
 #sort full in descending order:
 full_sorted = sorted(full)
 print(full_sorted)
 print(sorted(full_sorted,reverse=True))

[11.25, 18.0, 20.0, 10.75, 9.5]
[9.5, 10.75, 11.25, 18.0, 20.0]
[20.0, 18.0, 11.25, 10.75, 9.5]

In [ ]:
fam = ['Elias', 1.70, 'Marta', 1.62, 'Daniel', 1.74, 'Carla', 1.62]
print(fam)
print(fam.index ('Marta')) # call method index () on fam
fam.count(1.62) # mostra quantas vezes o elemento está presente na lista

['Elias', 1.7, 'Marta', 1.62, 'Daniel', 1.74, 'Carla', 1.62]
2

2

In [ ]:
print(fam)
fam.append('Me')
print(fam)
fam.append(1.74)
print(fam)

['Elias', 1.7, 'Marta', 1.62, 'Daniel', 1.74, 'Carla', 1.62]
['Elias', 1.7, 'Marta', 1.62, 'Daniel', 1.74, 'Carla', 1.62, 'Me']
['Elias', 1.7, 'Marta', 1.62, 'Daniel', 1.74, 'Carla', 1.62, 'Me', 1.74]

In [ ]:
sister = 'carla'
print(sister.capitalize())
print(sister.replace('arla', 'lara'))

Carla
clara

In [ ]:
# string to experiment with : place
place = 'poolhouse'
# use upper() on place: place_up
place_up = place.upper()
print(place)
print(place_up)
place.count('o')

poolhouse
POOLHOUSE

3