In [27]:
dict = {'country' : ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
'capital' : ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
'area' : [8.516, 17.10, 3.286, 9.597, 1.221],
'population' : [200.4, 143.5, 1252, 1357, 52.98]}

In [36]:
import pandas as pd
brics = pd.DataFrame(dict)
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [37]:
brics.index = ['BR', 'RU', 'IN', 'CH', 'SA']
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [30]:
brics = pd.read_csv('brics.csv')
brics

                                       brics.csv
NaN country        capital    area    population
BR   Brazil        Brasilian  8.516        200.4
RU   Russia        Moscow     17.10        143.5
IN   India         New Delhi  3.286         1252
CH   China         Beijing    9.597         1357
SA   South Africa  Pretoria   1.221        52.98

In [31]:
import pandas as pd
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morroco', 'Egypt']
dr = [True, False, False, False, True, True, True]
cpc =[809, 731, 588, 18, 200, 70, 45]
my_dict = {'country' : names,
           'drives_right': dr,
           'cars_per_cap': cpc}
cars = pd.DataFrame(my_dict)
cars
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']
cars.index = row_labels
cars

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morroco          True            70
EG           Egypt          True            45

In [32]:
cars = pd.read_csv('cars.csv', index_col = 0)
cars

Empty DataFrame
Columns: []
Index: [0         US           809  United States          True, 1        AUS           731      Australia         False, 2        JPN           588          Japan         False, 3         IN            18          India         False, 4         RU           200         Russia          True, 5        MOR            70        Morocco          True, 6         EG            45          Egypt          True]

In [38]:
brics['country']

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [39]:
type(brics['country'])

pandas.core.series.Series

In [40]:
brics[['country']]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [41]:
type(brics[['country']])

pandas.core.frame.DataFrame

In [42]:
brics[['country', 'capital']]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [43]:
brics[1: 3]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [44]:
brics.loc[['RU']]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [45]:
brics.loc[['RU', 'IN', 'CH']]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [46]:
brics.loc[['RU', 'IN', 'CH'], ['country', 'capital']]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [47]:
brics.loc[['BR' ], ['capital']]

     capital
BR  Brasilia

In [49]:
brics.loc[:, ['country', 'capital']]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [51]:
brics.iloc[[1,2,3]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [53]:
brics.iloc[[1,2,3], [0, 1]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing